<?xml version="1.0" encoding="UTF-8"?>
<!--
 * @package		Joomla.Administrator
 * @subpackage 	com_ktbtracker
 * 
 * @copyright	Copyright (C) 2012-2017 David Uczen Photography, Inc. All Rights Reserved.
 * @license		Licensed Materials - Property of David Uczen Photography, Inc.; see LICENSE.txt
 *
 * $Id$
-->
<config>
	<fieldset
		name="component"
		label="COM_KTBTRACKER_FIELDSET_COMPONENT_LABEL"
		description="COM_KTBTRACKER_FIELDSET_COMPONENT_DESC"
		addfieldpath="/administrator/components/com_ktbtracker/models/fields">
		<field	
			name="loadJQ"
			type="radio"
			label="COM_KTBTRACKER_FIELD_LOADJQ_LABEL"
			description="COM_KTBTRACKER_FIELD_LOADJQ_DESC"
			class="btn-group"
			default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field	
			name="loadBS"
			type="radio"
			label="COM_KTBTRACKER_FIELD_LOADBS_LABEL"
			description="COM_KTBTRACKER_FIELD_LOADBS_DESC"
			class="btn-group"
			default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	 
	<fieldset 		
		name="pyhsical"
		label="COM_KTBTRACKER_FIELDSET_PHYSICAL_LABEL"
		description="COM_KTBTRACKER_FIELDSET_PHYSICAL_DESC"
		addfieldpath="/administrator/components/com_ktbtracker/models/fields">
		<field	
			name="situps"
			type="text"
			label="COM_KTBTRACKER_FIELD_SITUPS_LABEL"
			description="COM_KTBTRACKER_FIELD_SITUPS_DESC"
			hint="COM_KTBTRACKER_FIELD_SITUPS_PLACEHOLDER"
			default="10000"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="burpees"
			type="text"
			label="COM_KTBTRACKER_FIELD_BURPEES_LABEL"
			description="COM_KTBTRACKER_FIELD_BURPEES_DESC"
			hint="COM_KTBTRACKER_FIELD_BURPEES_PLACEHOLDER"
			default="1000"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="kicks"
			type="text"
			label="COM_KTBTRACKER_FIELD_KICKS_LABEL"
			description="COM_KTBTRACKER_FIELD_KICKS_DESC"
			hint="COM_KTBTRACKER_FIELD_KICKS_PLACEHOLDER"
			default="10500"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="sparring"
			type="text"
			label="COM_KTBTRACKER_FIELD_SPARRING_LABEL"
			description="COM_KTBTRACKER_FIELD_SPARRING_DESC"
			hint="COM_KTBTRACKER_FIELD_SPARRING_PLACEHOLDER"
			default="210"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="poomsae"
			type="text"
			label="COM_KTBTRACKER_FIELD_POOMSAE_LABEL"
			description="COM_KTBTRACKER_FIELD_POOMSAE_DESC"
			hint="COM_KTBTRACKER_FIELD_POOMSAE_PLACEHOLDER"
			default="1500"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="self_defense"
			type="text"
			label="COM_KTBTRACKER_FIELD_SELF_DEFENSE_LABEL"
			description="COM_KTBTRACKER_FIELD_SELF_DEFENSE_DESC"
			hint="COM_KTBTRACKER_FIELD_SELF_DEFENSE_PLACEHOLDER"
			default="1500"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="pullups"
			type="text"
			label="COM_KTBTRACKER_FIELD_PULLUPS_LABEL"
			description="COM_KTBTRACKER_FIELD_PULLUPS_DESC"
			hint="COM_KTBTRACKER_FIELD_PULLUPS_PLACEHOLDER"
			default="350"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="rolls_falls"
			type="text"
			label="COM_KTBTRACKER_FIELD_ROLLS_FALLS_LABEL"
			description="COM_KTBTRACKER_FIELD_ROLLS_FALLS_DESC"
			hint="COM_KTBTRACKER_FIELD_ROLLS_FALLS_PLACEHOLDER"
			default="1000"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
	</fieldset>
		
	<fieldset
		name="classes"
		label="COM_KTBTRACKER_FIELDSET_CLASSES_LABEL"
		description="COM_KTBTRACKER_FIELDSET_CLASSES_DESC"
		addfieldpath="/administrator/components/com_ktbtracker/models/fields">
		<field	
			name="class_saturday"
			type="text"
			label="COM_KTBTRACKER_FIELD_CLASS_SATURDAY_LABEL"
			description="COM_KTBTRACKER_FIELD_CLASS_SATURDAY_DESC"
			hint="COM_KTBTRACKER_FIELD_CLASS_SATURDAY_PLACEHOLDER"
			default="10"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="class_weekday"
			type="text"
			label="COM_KTBTRACKER_FIELD_CLASS_WEEKDAY_LABEL"
			description="COM_KTBTRACKER_FIELD_CLASS_WEEKDAY_DESC"
			hint="COM_KTBTRACKER_FIELD_CLASS_WEEKDAY_PLACEHOLDER"
			default="10"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="class_sparring"
			type="text"
			label="COM_KTBTRACKER_FIELD_CLASS_SPARRING_LABEL"
			description="COM_KTBTRACKER_FIELD_CLASS_SPARRING_DESC"
			hint="COM_KTBTRACKER_FIELD_CLASS_SPARRING_PLACEHOLDER"
			default="15"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="class_pmaa"
			type="text"
			label="COM_KTBTRACKER_FIELD_CLASS_PMAA_LABEL"
			description="COM_KTBTRACKER_FIELD_CLASS_PMAA_DESC"
			hint="COM_KTBTRACKER_FIELD_CLASS_PMAA_PLACEHOLDER"
			default="8"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="class_masterq"
			type="text"
			label="COM_KTBTRACKER_FIELD_CLASS_MASTERQ_LABEL"
			description="COM_KTBTRACKER_FIELD_CLASS_MASTERQ_DESC"
			hint="COM_KTBTRACKER_FIELD_CLASS_MASTERQ_PLACEHOLDER"
			default="10"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="class_dreamteam"
			type="text"
			label="COM_KTBTRACKER_FIELD_CLASS_DREAMTEAM_LABEL"
			description="COM_KTBTRACKER_FIELD_CLASS_DREAMTEAM_DESC"
			hint="COM_KTBTRACKER_FIELD_CLASS_DREAMTEAM_PLACEHOLDER"
			default="10"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="class_hyperpro"
			type="text"
			label="COM_KTBTRACKER_FIELD_CLASS_HYPERPRO_LABEL"
			description="COM_KTBTRACKER_FIELD_CLASS_HYPERPRO_DESC"
			hint="COM_KTBTRACKER_FIELD_CLASS_HYPERPRO_PLACEHOLDER"
			default="10"
			class="inputbox"
			size="20"
			filter="intval">
		</field>	
	</fieldset>
	
	<fieldset
		name="other"
		label="COM_KTBTRACKER_FIELDSET_OTHER_LABEL"
		description="COM_KTBTRACKER_FIELDSET_OTHER_DESC"
		addfieldpath="/administrator/components/com_ktbtracker/models/fields">
		<field	
			name="journals"
			type="text"
			label="COM_KTBTRACKER_FIELD_JOURNALS_LABEL"
			description="COM_KTBTRACKER_FIELD_JOURNALS_DESC"
			hint="COM_KTBTRACKER_FIELD_JOURNALS_PLACEHOLDER"
			default="50"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="raok"
			type="text"
			label="COM_KTBTRACKER_FIELD_RAOK_LABEL"
			description="COM_KTBTRACKER_FIELD_RAOK_DESC"
			hint="COM_KTBTRACKER_FIELD_RAOK_PLACEHOLDER"
			default="200"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="mentee"
			type="text"
			label="COM_KTBTRACKER_FIELD_MENTEE_LABEL"
			description="COM_KTBTRACKER_FIELD_MENTEE_DESC"
			hint="COM_KTBTRACKER_FIELD_MENTEE_PLACEHOLDER"
			default="15"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="mentor"
			type="text"
			label="COM_KTBTRACKER_FIELD_MENTOR_LABEL"
			description="COM_KTBTRACKER_FIELD_MENTOR_DESC"
			hint="COM_KTBTRACKER_FIELD_MENTOR_PLACEHOLDER"
			default="15"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="leadership"
			type="text"
			label="COM_KTBTRACKER_FIELD_LEADERSHIP_LABEL"
			description="COM_KTBTRACKER_FIELD_LEADERSHIP_DESC"
			hint="COM_KTBTRACKER_FIELD_LEADERSHIP_PLACEHOLDER"
			default="20"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="leadership2"
			type="text"
			label="COM_KTBTRACKER_FIELD_LEADERSHIP2_LABEL"
			description="COM_KTBTRACKER_FIELD_LEADERSHIP2_DESC"
			hint="COM_KTBTRACKER_FIELD_LEADERSHIP2_PLACEHOLDER"
			default="10"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="meditation"
			type="text"
			label="COM_KTBTRACKER_FIELD_MEDITATION_LABEL"
			description="COM_KTBTRACKER_FIELD_MEDITATION_DESC"
			hint="COM_KTBTRACKER_FIELD_MEDITATION_PLACEHOLDER"
			default="500"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
	</fieldset>	

	<fieldset
		name="masters"
		label="COM_KTBTRACKER_FIELDSET_MASTERS_LABEL"
		description="COM_KTBTRACKER_FIELDSET_MASTERS_DESC"
		addfieldpath="/administrator/components/com_ktbtracker/models/fields">
		<field	
			name="inst_camps"
			type="text"
			label="COM_KTBTRACKER_FIELD_INST_CAMPS_LABEL"
			description="COM_KTBTRACKER_FIELD_INST_CAMPS_DESC"
			hint="COM_KTBTRACKER_FIELD_INST_CAMPS_PLACEHOLDER"
			default="1"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="lead_class"
			type="text"
			label="COM_KTBTRACKER_FIELD_LEAD_CLASS_LABEL"
			description="COM_KTBTRACKER_FIELD_LEAD_CLASS_DESC"
			hint="COM_KTBTRACKER_FIELD_LEAD_CLASS_PLACEHOLDER"
			default="24"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="assist_class"
			type="text"
			label="COM_KTBTRACKER_FIELD_ASSIST_CLASS_LABEL"
			description="COM_KTBTRACKER_FIELD_ASSIST_CLASS_DESC"
			hint="COM_KTBTRACKER_FIELD_ASSIST_CLASS_PLACEHOLDER"
			default="24"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="pre_test"
			type="text"
			label="COM_KTBTRACKER_FIELD_PRE_TEST_LABEL"
			description="COM_KTBTRACKER_FIELD_PRE_TEST_DESC"
			hint="COM_KTBTRACKER_FIELD_PRE_TEST_PLACEHOLDER"
			default="1"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="assist_testing"
			type="text"
			label="COM_KTBTRACKER_FIELD_ASSIST_TESTING_LABEL"
			description="COM_KTBTRACKER_FIELD_ASSIST_TESTING_DESC"
			hint="COM_KTBTRACKER_FIELD_ASSIST_TESTING_PLACEHOLDER"
			default="3"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="special_events"
			type="text"
			label="COM_KTBTRACKER_FIELD_SPECIAL_EVENTS_LABEL"
			description="COM_KTBTRACKER_FIELD_SPECIAL_EVENTS_DESC"
			hint="COM_KTBTRACKER_FIELD_SPECIAL_EVENTS_PLACEHOLDER"
			default="2"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="video_trng"
			type="text"
			label="COM_KTBTRACKER_FIELD_VIDEO_TRNG_LABEL"
			description="COM_KTBTRACKER_FIELD_VIDEO_TRNG_DESC"
			hint="COM_KTBTRACKER_FIELD_VIDEO_TRNG_PLACEHOLDER"
			default="4"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
		<field	
			name="lead_seminar"
			type="text"
			label="COM_KTBTRACKER_FIELD_LEAD_SEMINAR_LABEL"
			description="COM_KTBTRACKER_FIELD_LEAD_SEMINAR_DESC"
			hint="COM_KTBTRACKER_FIELD_LEAD_SEMINAR_PLACEHOLDER"
			default="2"
			class="inputbox"
			size="20"
			filter="intval">
		</field>
	</fieldset>
	
	<fieldset name="permissions" 
		label="JCONFIG_PERMISSIONS_LABEL" 
		description="JCONFIG_PERMISSIONS_DESC">	
		<field 
			name="rules" 
			type="rules" 
			label="JCONFIG_PERMISSIONS_LABEL"		
			class="inputbox" 
			filter="rules" 
			validate="rules" 
			component="com_ktbtracker" 
			section="component">
		</field>
	</fieldset>
</config>